@import './base.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

#app {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Laptop / Desktop */
@media (min-width: 769px) {
  #app {
    width: 100%;
  }
}

/* HP */
@media (max-width: 768px) {
  #app {
    width: 100%;
    padding: 0;
  }
}